/*
.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}
.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}
*/
body{
    font-family: "Skranji", system-ui;
    font-weight: 200;
    font-style: normal;
    background-color: #F2F3F4;
}
.navbar{
    padding: 3rem;
}
.navbar-brand{
    width: 30%;
}
.navbar-brand img{
    width: 7rem;
}
.brand-text-container{
    margin-top: 1rem;
}
.brand-text-container h1{
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    margin: 0;
}
.brand-text-container p{
    margin: 0;
}
.navbar-nav{
    justify-content: space-around;
    width: 85%;
}
.nav-link:hover{
    box-shadow: 6px 3px 3px #A9A9A9;
    transition: .5s;
    scale: 1.1;
}
@media (min-width: 768px) and (max-width: 1000px){
    .navbar{
        padding: 2rem;
    }
    .navbar-nav{
        width: 70%;
    }
    .navbar-nav .about{
        display: none;
    }
}


@media (min-width: 450px) and (max-width: 767px){
    .navbar{
        padding: 2rem;
    }
    .navbar-brand img{
        width: 6rem;
    }
    .brand-text-container{
        margin-top: 1rem;
    }
    .brand-text-container h1{
        font-family: "Skranji", system-ui;
        font-weight: 700;
        font-style: normal;
        font-size: 1.4rem;
        margin: 0;
    }
    .brand-text-container p{
        margin: 0;
        font-size: .9rem;
    }
    .navbar-collapse ul{
        margin: 2rem auto;
    }

}
@media (min-width: 250px) and (max-width: 449px){
    .navbar{
        padding: 2rem 0;
        width: 90%;
    }
    .navbar-subcontainer{
        display: flex;
        flex-direction: row;
    }
    .navbar-brand{
        width: auto;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .navbar-brand img{
        width: 5.5rem;
    }
    .brand-text-container{
        margin-top: 1rem;
        width: auto;
    }
    .brand-text-container h1{
        font-family: "Skranji", system-ui;
        font-weight: 700;
        font-style: normal;
        font-size: 1.1rem;
        margin: 0;
    }
    .brand-text-container p{
        font-size: .9rem;
    }
    .navbar-toggler{
        margin: 2rem auto;
    }
    
    .navbar-collapse ul{
        margin: 0 auto;
    }
}

/* hero section */
.hero-container{
    display: flex;
    width: 90%;
    margin: 1rem auto 6rem;
    align-items: center;
    justify-content: space-around;
}
.hero-carousel-container{
    width: 40%;
}
.hero-carousel-container img{
    border-radius: 50%;
    width: 100%;
    height: 500px;
    
}
.hero-content-container{
    width: 40%;
}

.hero-content-container h1{
    margin: 1rem 0;
}
.hero-content-container p{
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
}
.hero-social-container{
    width: 100%;
    list-style: none;
    color: black;
    justify-content: start;
    padding: 0;
}
.social-item:hover{
    box-shadow: 6px 3px 3px #A9A9A9;
    transition: .5s;
    scale: 1.1;
}

.social-item a{
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.1rem;
}

.codewars a{
    color: #660000;
    font-weight: 700px;
}

@media (min-width: 768px) and (max-width: 1200px){
    .hero-container{
        flex-direction: column;
        margin: 2rem auto;
    }
    .hero-carousel-container{
        width: 55%;
    }
    .hero-carousel-container img{
        width: 100%;
        height: 400px;
    }
    
    .hero-content-container{
        width: 60%;
        margin-top: 2rem;
        text-align: center;
    }

    .hero-content-container h1{
        margin: 1rem 0;
    }
    .hero-content-container p{
        margin: 1rem 0 2rem;
        font-size: 1.2rem;
    }
    .hero-social-container{
        width: 100%;
        list-style: none;
        color: black;
        justify-content: start;
        padding: 0;
    }
}
@media (min-width: 450px) and (max-width: 767px){
    .hero-container{
        flex-direction: column;
        margin: 2rem auto;
    }
    .hero-carousel-container{
        width: 70%;
    }
    .hero-carousel-container img{
        width: 100%;
        height: 300px;
    }
    
    .hero-content-container{
        width: 80%;
        margin-top: 2rem;
        text-align: center;
    }

    .hero-content-container h1{
        margin: 1rem 0;
        font-size: 1.6rem;
    }
    .hero-content-container p{
        margin: 1rem 0 2rem;
        font-size: 1.1rem;
    }
    .hero-social-container{
        width: 100%;
    }
    .social-item a{
        font-size: 1rem;
    }
}
@media (min-width: 250px) and (max-width: 449px){
    .hero-container{
        flex-direction: column;
        margin: 0 auto;
    }
    .hero-carousel-container{
        width: 70%;
    }
    .hero-carousel-container img{
        width: 100%;
        height: 200px;
    }
    
    .hero-content-container{
        width: 80%;
        margin-top: 1rem;
        text-align: center;
    }
    .hero-content-container h1{
        margin: 1rem 0;
        font-size: 1.4rem;
    }
    .hero-content-container p{
        margin: 1rem 0 2rem;
        font-size: .9rem;
    }
    
    .social-item a{
        font-size: 1.2rem;
    }
    .social-item a span{
        display: none;
    }


}


/* parallax styling section */
.parallax {
    /* The image used */
    background-image: url("https://imagizer.imageshack.com/img924/9642/d2TlvX.jpg");
    /* Set a specific height */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special-phrase{
    width: 40%;
    margin: 0 auto;
    padding-top: 4rem;
}
.special-phrase p{
    margin: auto;
    padding: 4rem;
    border-radius: .5rem;
}

@media (min-width: 768px) and (max-width: 1200px){
    .parallax {
        /* The image used */
        background-image: url("https://imagizer.imageshack.com/img924/9642/d2TlvX.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .special-phrase{
        width: 70%;
        margin: 0 auto;
        padding-top: 8rem;
    }
    .special-phrase p{
        margin: auto;
        padding: 4rem;
        border-radius: .5rem;
    }
}

@media (min-width: 450px) and (max-width: 767px){
    .parallax {
        /* The image used */
        background-image: url("https://imagizer.imageshack.com/img924/9642/d2TlvX.jpg");
        /* Set a specific height */
        min-height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .special-phrase{
        width: 80%;
        margin: 0 auto;
        padding-top: 8rem;
    }
    .special-phrase p{
        margin: auto;
        padding: 4rem;
        border-radius: .5rem;
    }
}

@media (min-width: 250px) and (max-width: 449px){
    .parallax {
        /* The image used */
        background-image: url("https://imagizer.imageshack.com/img924/9642/d2TlvX.jpg");
        /* Set a specific height */
        min-height: 300px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .special-phrase{
        display: none;
    }

}

/* special stylings */
.dark-section{
    background-color: #1B1B1B;
}
.white-text{
    color: #F2F3F4;
}
.dark-red-text{
    color: #660000;
    padding: 0;
    margin: 0;
}



/* About me Section */
.aboutme{
    text-align: center;
    padding: 6rem;
}
.aboutme-grid-container{
    margin: 6rem auto;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 10rem 1fr 1fr;
    grid-template-rows: auto;
}
.aboutme-img-1{
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 20%;
}
.subtitle-aboutme1{
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    margin-top: 6rem;
}
.write-aboutme1{
    grid-column-start: 4;
    grid-column-end: 6;
}
.grid-breakerline{
    grid-row-start: 4;
    grid-row-end: 4;
}

.aboutme-img-2{
    width: 100%;
    height: 650px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
    border-radius: 20%;
}
.subtitle-aboutme2{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 6rem;
}
.write-aboutme2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}
@media (min-width: 768px) and (max-width: 1200px){
    .aboutme{
        text-align: center;
        padding: 6rem 3rem;
    }
    .aboutme-grid-container{
        margin: 6rem 4rem;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .aboutme-img-1{
        width: 100%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
        border-radius: 20%;
    }
    .subtitle-aboutme1{
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 0;
        font-size: 1.4rem;
    }
    .write-aboutme1{
        grid-column-start: 3;
        grid-column-end: 6;
        
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 1rem;
        width: 90%;
        margin-left: 2rem;
    }
    .grid-breakerline{
        grid-row-start: 4;
        grid-row-end: 4;
        padding: 3rem 0;
    }
    .aboutme-img-2{
        width: 100%;
        height: auto;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 7;
        border-radius: 20%;
    }
    .subtitle-aboutme2{
        width: 80%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0 1rem 0 1rem;
    }
    .write-aboutme2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        margin-right: 2rem;
        margin-top: 1rem;
    }
}
@media (min-width: 450px) and (max-width: 767px){
    .aboutme{
        text-align: center;
        padding: 6rem 3rem 3rem;
    }
    .aboutme-grid-container{
        margin: 3rem auto;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .aboutme-img-1{
        width: 100%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .subtitle-aboutme1{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 0;
    }
    .write-aboutme1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 2rem 0 4rem;
    }
    .grid-breakerline{
        display: none;
    }
    .aboutme-img-2{
        width: 100%;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    .subtitle-aboutme2{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 11;
        margin: 3rem 0 0;
    }
    .write-aboutme2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 12;
        margin: 2rem 0;
    }
}
@media (min-width: 250px) and (max-width: 449px){
    .aboutme{
        text-align: center;
        padding: 6rem 3rem 1rem;
    }
    .aboutme-grid-container{
        margin: 3rem auto;
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .aboutme-img-1{
        width: 100%;
        height: 80%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .subtitle-aboutme1{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 0;
    }
    .write-aboutme1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 2rem 0 4rem;
    }
    .grid-breakerline{
        display: none;
    }
    .aboutme-img-2{
        width: 100%;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    .subtitle-aboutme2{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 11;
        margin: 3rem 0 0;
    }
    .write-aboutme2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 12;
        margin: 2rem 0;
    }
}

/*Service Section*/
.service-container{
    text-align: center;
    margin: 6rem 3rem;
}
.service-content-container{
    padding: 4rem;
}
.service-block{
    border: 2.5px solid #1B1B1B;
    border-radius: 1rem;
    margin: 3em .5rem;
    padding: 0 0  4rem 0;
    transition: all 0.5s ease;
}
.service-block:hover{
    color: #F2F3F4;
    background-color: #1B1B1B;
}
.service-block:hover .service-image1{
    filter: invert(100%)
}
.service-image1{
    width: 10rem;
    padding-top: 3rem;
}

.card-text{
    width: 90%;
    margin: 0 auto;
    padding-top: .5rem;
}
.service-options{
    padding-top: 2rem;
}
.service-btn{
    background-color: #F2F3F4;
    border: 1px solid #660000;
    color: #660000;
    transition: all 0.5s ease

}
.service-btn-schedule{
    background-color: #660000;
    border: none;
    color: #F2F3F4;
    transition: all 0.6s ease-in-out
}

.service-btn:hover{
    background-color: #660000;
    border: 1px solid #F2F3F4;
    color: #F2F3F4;
    transition: all 0.5s ease-in-out
}
.service-btn-schedule:hover{
    background-color: #F2F3F4;
    border: solid 1px #F2F3F4;
    color: #660000 ;
}
@media (min-width: 992px) and (max-width: 1300px){
    .service-content-container{
        padding: 2rem;
    }
    .card-title{
        width: 80%;
        margin: 1rem auto;
    }
    .service-options{
        flex-direction: column;
        padding-top: 1rem;
    }
    .btn{
        width: 80%;
        margin: 1rem auto 0;
    }
}
@media (min-width: 450px) and (max-width: 767px){
    .service-container{
        text-align: center;
        margin: 3rem auto;
        width: 100%;

    }
    .service-content-container{
        padding: 1rem;
        width: 100%;
        margin: 1rem auto;
    }
    .service-block{
        width: 90%;
        margin: 1rem auto;
    }
    .service-image1{
        width: 6rem;
    }
    .card-title{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .card-text{
        width: 90%;
        margin: 0 auto;
        padding-top: .5rem;
        font-size: .9rem;
    }
    .service-options{
        padding-top: 2rem;
        
    }
    .btn{
        font-size: 1rem;
    }

}
@media (min-width: 250px) and (max-width: 449px){
    .service-container{
        text-align: center;
        margin: 3rem auto;
        width: 100%;

    }
    .service-content-container{
        padding: 1rem;
        width: 100%;
        margin: 1rem auto;
    }
    .service-block{
        width: 100%;
        padding-bottom: 2rem;
    }
    .service-image1{
        width: 6rem;
    }
    .card-title{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .card-text{
        width: 90%;
        margin: 0 auto;
        padding-top: .5rem;
        font-size: .9rem;
    }
    .service-options{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    .btn{
        font-size: 1rem;
        width: 85%;
        margin: 1rem auto;
    }

}